# Site wide configuration

title:            Tyler J. Brough 
locale:           en_US
url:              


# Jekyll configuration

permalink:   /:categories/:title/
markdown:    kramdown
highlighter: pygments
sass:
  sass_dir: _sass
  style: compressed
gems:
  - jekyll-sitemap

kramdown:
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  use_coderay: false


# Site owner
owner:
  name: Tyler J. Brough 
  avatar: tyler-brough.jpg
  bio: "I am an associate professor of finance at Utah State University specializing in financial markets, applied econometrics, and computational methods."
  email: tyler.brough@usu.edu
  disqus-shortname: 
  twitter: broughtj
  facebook: 
  google:
    plus: #username 
    analytics: 
    verify: 
    ad-client: 
    ad-slot: 
  bing-verify: 
  github: broughtj
  stackoverflow: #http://stackoverflow.com/users/123456/username
  linkedin: tylerbrough 
  instagram: #username
  lastfm: #username
  tumblr: #username
  pinterest: #username
  foursquare: #username
  steam: #username
  dribbble: #username
  youtube: #username
  soundcloud: #username
  weibo: #username

include: [".htaccess"]
exclude: ["lib", "config.rb", "Capfile", "config", "log", "Rakefile", "Rakefile.rb", "tmp", "less", "*.sublime-project", "*.sublime-workspace", "test", "spec", "Gruntfile.js", "package.json", "node_modules", "Gemfile", "Gemfile.lock", "LICENSE", "README.md"]
